#wrapper #header .headTop {
  height: 30px;
  background: #eaeaea;
}
#wrapper #header .headTop .headTopMain {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#wrapper #header .headTop .headTopMain .left {
  height: 30px;
  display: flex;
  align-items: center;
}
#wrapper #header .headTop .headTopMain .left h5 {
  margin-right: 5px;
}
#wrapper #header .headTop .headTopMain .left p {
  display: flex;
  align-items: center;
}
#wrapper #header .headTop .headTopMain .left p a {
  padding-left: 5px;
}
#wrapper #header .headTop .headTopMain .left p i {
  display: inline-block;
  border-right: 1px solid #b3aeae;
  color: transparent;
}
#wrapper #header .headTop .headTopMain .right {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrapper #header .headTop .headTopMain .right nav {
  display: flex;
  align-items: center;
}
#wrapper #header .headTop .headTopMain .right nav a {
  margin-right: 10px;
  border-right: 1px solid #b3aeae;
  padding-right: 10px;
}
#wrapper #header .headTop .headTopMain .right nav a:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
#wrapper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper #header .headBottom .headBottomMain .logo {
  display: flex;
}
#wrapper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#wrapper #header .headBottom .headBottomMain .search {
  display: flex;
}
#wrapper #header .headBottom .headBottomMain .search input:first-child {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 3px solid #ea4a36;
}
#wrapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  color: #fff;
  background: #ea4a36;
  border: none;
}
#wrapper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#wrapper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#wrapper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#wrapper #navWrap .navWrapMain a {
  margin: 0 22px;
  font-size: 16px;
  color: #333;
}
#wrapper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #e1251b;
  color: #fff;
  font-weight: bold;
}
#wrapper #content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#wrapper #content .contentMain .navPath {
  padding: 9px 15px 9px 0;
  font-size: 0;
}
#wrapper #content .contentMain .navPath a {
  font-size: 12px;
}
#wrapper #content .contentMain .navPath i {
  font-size: 12px;
  padding: 0 5px;
}
#wrapper #content .contentMain .center {
  margin: 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
#wrapper #content .contentMain .center .left {
  width: 400px;
}
#wrapper #content .contentMain .center .left .leftTop {
  width: 400px;
  position: relative;
}
#wrapper #content .contentMain .center .left .leftTop .smallPic {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  position: relative;
}
#wrapper #content .contentMain .center .left .leftTop .smallPic .mask {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  left: 0px;
  top: 0px;
}
#wrapper #content .contentMain .center .left .leftTop .bigPic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  position: absolute;
  left: 420px;
  top: 0px;
  overflow: hidden;
}
#wrapper #content .contentMain .center .left .leftTop .bigPic img {
  width: 800px;
  height: 800px;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
#wrapper #content .contentMain .center .left .leftBottom {
  width: 400px;
  margin-top: 5px;
  display: flex;
}
#wrapper #content .contentMain .center .left .leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  background: #ebebeb;
  text-align: center;
  line-height: 54px;
}
#wrapper #content .contentMain .center .left .leftBottom a:first-child {
  margin-right: 4px;
}
#wrapper #content .contentMain .center .left .leftBottom .piclist {
  width: 372px;
  height: 56px;
  position: relative;
  overflow: hidden;
}
#wrapper #content .contentMain .center .left .leftBottom .piclist ul {
  display: flex;
  position: absolute;
  left: 0px;
  transition: 0.5s;
}
#wrapper #content .contentMain .center .left .leftBottom .piclist ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 20px;
}
#wrapper #content .contentMain .center .left .leftBottom .piclist ul li img {
  width: 50px;
  height: 50px;
}
#wrapper #content .contentMain .center .right {
  width: 700px;
  padding-right: 50px;
}
#wrapper #content .contentMain .center .right .rightTop h3 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}
#wrapper #content .contentMain .center .right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap {
  margin-top: 10px;
  line-height: 28px;
  background: #fee9ec;
  padding: 7px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop {
  display: flex;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop .price {
  display: flex;
  color: #cc1122;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop .price p {
  font-size: 24px;
  font-weight: bold;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop .price i {
  font-size: 12px;
  color: #cc1122;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceTop > p {
  margin-left: 405px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceBottom {
  display: flex;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceBottom > span {
  margin-right: 15px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceBottom p {
  width: 510px;
  line-height: 28px;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceBottom p > span {
  color: #999;
}
#wrapper #content .contentMain .center .right .rightTop .priceWrap .priceBottom p > span:first-child {
  background: #c81623;
  padding: 3px;
  color: #fff;
}
#wrapper #content .contentMain .center .right .rightTop .support {
  display: flex;
  margin-top: 10px;
  line-height: 28px;
}
#wrapper #content .contentMain .center .right .rightTop .support > span {
  margin-right: 15px;
}
#wrapper #content .contentMain .center .right .rightTop .support > p {
  color: #999;
}
#wrapper #content .contentMain .center .right .rightTop .address {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  line-height: 28px;
}
#wrapper #content .contentMain .center .right .rightTop .address > span {
  margin-right: 15px;
}
#wrapper #content .contentMain .center .right .rightTop .address > p {
  color: #999;
}
